@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Host Page";
}



<div class="custom-container">
    <div class="row">
      <!-- Sol Menü -->
      <div class="col-md-3 sidebarS">
        <button class="btn-login" onclick="window.location.href='@Url.Action("myAds", "Host")'">İlanlarım</button>
        <button class="btn-login" onclick="window.location.href='@Url.Action("activeReservations", "Host")'">Aktif Rezervasyonlarım</button>
        <button class="btn-login" onclick="window.location.href='@Url.Action("reservationHistory", "Host")'">Geçmiş Rezervasyonlarım</button>
        <button class="btn-login" onclick="window.location.href='@Url.Action("newAd", "Host")'">Yeni İlan Ver</button>
        <button class="btn-login" onclick="window.location.href='@Url.Action("settings", "Host")'">Ayarlar</button>
        <button class="btn-login" id="btn-quit" onclick="window.location.href='@Url.Action("Logout", "Account")'">Çıkış Yap</button>

      </div>


      <!-- Sağ İçerik Alanı -->
      <div class="col-md-9 content-areaS" id="icerik">
        <h4>Hoşgeldiniz!</h4>
        <p>Sol menüden bir seçenek seçiniz.</p>
      </div>
    </div>
  </div>